{% include 'base.html' %}
{% load crispy_forms_tags %}

<form method="post" style="padding: 25px;">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="col-md-12">
        <button class="btn btn-primary" type="submit" style="margin: 25px 90px; position: relative;">Salvar</button>
    </div>
</form>

<script>
    document.querySelector('#busca_endereco').addEventListener('keypress',
    function httpGet(e){
        // console.log(e);
        if(e.key === 'Enter'){
            var search = document.getElementById('busca_endereco').value
            console.log(search);
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.open( "GET", `http://api.positionstack.com/v1/forward?access_key=89c02e2b1278651fe30af13dd089d2ca&query=${search}`, false ); // false for synchronous request
            xmlHttp.send( null );
            console.log(JSON.parse(xmlHttp.response).data[0].label);
            document.getElementById('busca_endereco').value = JSON.parse(xmlHttp.response).data[0].label
            return xmlHttp.responseText;
        }
    })
</script>