{% extends "base.html" %}

{% block content %}
<a class="btn btn-primary" href="/pessoas/create-pessoa" id="add-pessoa" style="margin: 15px;">
    Adicionar
</a>
<table class="table" style="margin: 15px;">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Ações</th>
    </thead>
    <tbody>
        {% for pessoa in object_list %}
            <tr scope="row">
                <td>
                    {{ pessoa.id }}
                </td>
                <td>
                    {{ pessoa.nome }}
                </td>
                <td>
                    <a href="/pessoas/{{ pessoa.id }}/update">Editar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
      </div>
    </div>
</div>
  
{% endblock %}
